{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title>status.Ku</title>
    </head>

    <body>
        <nav class="navbar navbar-light sticky-top" style="background-color: #e3f2fd;">
            <span class="navbar-brand mb-0 h1">status.Ku</span>
        </nav>
        <div class="col-md-12">
            <div class="container">
                <div class="row justify-content-center">
                    <h3>Halo, apa kabar?</h3>
                </div>
                <br>
                <div class="row justify-content-center">
                    <form method="POST" action="/add_status/">
                        {% csrf_token %}
                        <div class="form-group center">
                            {{ form.status }}
                        </div>
                        <br>
                        <button id="submit" type="submit" class="btn btn-light waves-effect waves-h4ght" value="Save" style="background-color: #e3f2fd;">
                            <h5>Tambah</h5>
                        </button>
                    </form>
                </div>
                    
                <hr>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <h3>Postingan</h3>
                    <div class="row justify-content-center">
                        
                        {% if data %}
                            
                            {% for obj in data %}
                                <div class="col-md-3">
                                    <div class="card text-black mb-3" style="max-width: 18rem; background-color: #e3f2fd;">
                                        <div class="card-body">
                                            <h4>{{ obj.status }}</h4>
                                            <p>{{ obj.dates }}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            {% endfor %}
                            
                        {% endif %}
                    </div>
                        
                    
                </div>
            </div>
                
        </div>
    </body>
        
</html>
    